crewai 
crewai-tools 
loguru
ollama
# Pin to chromadb version 0.3.29
chromadb==0.3.29
llama-index 
llama-index-llms-ollama
llama-index-embeddings-ollama


markdown2 
pdfkit


# Front end
streamlit 
fpdf 
requests
streamlit-google-auth